/* General Styles */
body {
  background-color: #EEF1F6;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  margin-left: 1rem;
  font-size: 2.25rem;
}

h2 {
  margin-left: .75rem;
}

h3 {
  margin-left: .75rem;
}

/* Component-level styles */

.visuallyHidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.navigationBar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #ffffff;
  position: relative;
  height: 2.5rem;
}

.navigationBar li {
  float: left;
}

.navigationBar li a {
  display: block;
  font-weight: bold;
  padding: .5rem 1.5rem;
  text-decoration: none;
  color: black;
}

.navigationBar li a:hover {
  border-bottom: .25rem solid black;
  background-color: lightgoldenrodyellow;

}

.activeNavigationBar {
  border-bottom: .25rem solid black;
}

.section {
  border: 1px solid #CDD5E4;
  background-color: #ffffff;
  padding: .5rem;
  border-radius: 2px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}

a.skip-main {
  left:-999px;
  position:absolute;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
  z-index:-999;
}

a.skip-main:focus, a.skip-main:active {
  color: #fff;
  background-color:#000;
  left: auto;
  top: auto;
  width: auto;
  height: auto;
  margin: 1rem;
  padding:.5rem;
  border-radius: .5rem;
  text-align:center;
  font-size:1.5rem;
  position:relative;
  display: block;
  text-decoration: none;
}

.grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: auto auto;
}

.card {
  box-shadow: .5rem .25rem #EEF1F6;
  border-radius: .25rem;
  border: 1px solid #CDD5E4;
  margin: .5rem;
  padding: .5rem;
  background-color: #ffffff;
}

.footer {
  border-top: 2px solid black;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  margin-top: 1rem;
}

.footer li {
  display:inline;
}

.footer li a {
  display:inline-block;
  padding:1rem;
  text-decoration:none;
  color: black;
  font-weight: bold;
}

.footer li a:hover {
  border-bottom: 4px solid black;
}

.inlineGrid {
  display: inline-grid;
}

.button {
  border: 1px solid black;
  border-radius: 4px;
  margin: .5rem;
  padding: .5rem;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  display: block;
}

.primary {
  background-color: black;
  color: white;
}

.secondary {
  color: black;
}

.secondary focus {
  border-color: yellow;
}

/* Styles used on several pages */

.headerMain {
  display: grid;
  grid-template-columns: 224px auto 300px;
}

.headerMain img {
  float: left;
  margin-top: .5rem;
  width: 12.5rem;
  margin: .5rem;
}

.headerMain p {
  font-size: 1.5rem;
}

.header {
  display: grid;
  grid-template-columns: 160px auto ;
}

.header img {
  float: left;
  margin-top: .5rem;
  width: 7.75rem;
  margin: .5rem;
}

.header h1 {
  font-size: 40px;
  margin-top: 40px;
}

.adoptions {
  float: right;
  vertical-align: center;
}

.adoptions figcaption {
  font-size: 1.5rem;
}

.adoptions li {
  font-size: 20px;
  list-style: none;
}

.petOfTheWeekRow {
  min-height: 25rem;
}

.petOfTheWeekCard {
  min-height: 22rem !important;
}

.petOfTheWeekCard img {
  float: left;
  width: 7.75rem;
  height: 7.75rem;
  object-fit: cover;
  border: 1px solid #CDD5E4;
  border-radius: 50%;
  box-shadow: 2px 4px #EEF1F6;
  margin-right: 1rem;
  margin-bottom: .5rem;
}

.petOfTheWeekCard p {
  left: 1.5rem;
  margin: .5rem;
}

.doggieRescueLogo {
  float: left;
  margin-top: 1rem;
  width: 8rem;
  margin: .5rem;
  margin-right: .5rem
}


/* index.html */

.newsDisplay {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 90%;
}

.newsCard {
  vertical-align: middle;
  display: none;
  margin: auto;
  border: 1px solid #CDD5E4;
  margin: .5rem;
  padding: .5rem;
  background-color: #ffffff;
}

.newsCard img {
  align-items: center;
  border-radius: .25rem;
  max-width: 80%;
  height: 27.5rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.newsCard a {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: .5rem;
}

.petPalace {
  width: 80%;
}

/* contact.html */

.contactUsImage {
  width: 20rem;
  object-fit: cover;
  border: 1px solid #CDD5E4;
  border-radius: 1rem;
  box-shadow: 2px 4px #EEF1F6;
}

.dogWalkingInfoImage {
  width: 20rem;
  object-fit: cover;
  border: 1px solid #CDD5E4;
  border-radius: 1rem;
  box-shadow: 2px 4px #EEF1F6;
}

.enquiries li {
  list-style-type: none;

}

.enquiries img {
  width: 15rem;
  object-fit: cover;
  border: 1px solid #CDD5E4;
  border-radius: 1rem;
  box-shadow: 2px 4px #EEF1F6;
}

/* adoptPet.html specific */

.adoptAPet {
  margin: auto;
}
.adoptAPet a {
  list-style-type: none;
  margin: auto;
}

/* adoptDog.html specific */

.dogOfTheWeekCard {
  display: inline-grid;
}

.dogOfTheWeekCard img {
  float: left;
  width: 136px;
  height: 136px;
  object-fit: cover;
  border: 1px solid #CDD5E4;
  border-radius: 50%;
  box-shadow: 2px 4px #EEF1F6;
  margin-right: 1rem;
  margin-bottom: .5rem;
}

.dogOfTheWeekCard p {
  left: 24px;
  margin: .5rem;
}

.dogOfTheWeekCard a {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 64px;
}

.findDog {
  padding-left: 1rem;
}

.findDog div {
  margin-left: 36px;
}

.dogImage {
  width: 50%;
  margin: auto;
}


/* Simple Grid */

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  position: relative;
  width: 100%;
}

.row [class^="col"] {
  float: left;
  margin: 0.5rem 2%;
  min-height: 0.125rem;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 96%;
}

.col-1-sm {
  width: 4.33%;
}

.col-2-sm {
  width: 12.66%;
}

.col-3-sm {
  width: 21%;
}

.col-4-sm {
  width: 29.33%;
}

.col-5-sm {
  width: 37.66%;
}

.col-6-sm {
  width: 46%;
}

.col-7-sm {
  width: 54.33%;
}

.col-8-sm {
  width: 62.66%;
}

.col-9-sm {
  width: 71%;
}

.col-10-sm {
  width: 79.33%;
}

.col-11-sm {
  width: 87.66%;
}

.col-12-sm {
  width: 96%;
}

.row::after {
	content: "";
	display: table;
	clear: both;
}

.hidden-sm {
  display: none;
}

@media only screen and (min-width: 45rem) {  /* 540px */
  .container {
    width: 100%;
  }
}

@media only screen and (min-width: 45em) {  /* 720px */
  .col-1 {
    width: 4.33%;
  }

  .col-2 {
    width: 12.66%;
  }

  .col-3 {
    width: 21%;
  }

  .col-4 {
    width: 29.33%;
  }

  .col-5 {
    width: 37.66%;
  }

  .col-6 {
    width: 46%;
  }

  .col-7 {
    width: 54.33%;
  }

  .col-8 {
    width: 62.66%;
  }

  .col-9 {
    width: 71%;
  }

  .col-10 {
    width: 79.33%;
  }

  .col-11 {
    width: 87.66%;
  }

  .col-12 {
    width: 96%;
  }

  .hidden-sm {
    display: block;
  }
}

@media only screen and (min-width: 60em) { /* 960px */
  .container {
    width: 100%;
    max-width: 80rem;
  }
}